<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Педагог психолог</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-light rounded" aria-label="Eleventh navbar example">
        <div class="container px-4">
            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#about">Обо мне</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Цены</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li> -->
                </ul>
                <!-- <form role="search">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                </form> -->
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                    <li class="nav-item col-6 col-lg-auto">
                        <a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/twbs" target="_blank"
                            rel="noopener">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="navbar-nav-svg"
                                viewBox="0 0 512 499.36" role="img">
                                <title>GitHub</title>
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z">
                                </path>
                            </svg>
                            <small class="d-lg-none ms-2">GitHub</small>
                        </a>
                    </li>
                    <li class="nav-item col-6 col-lg-auto">
                        <a class="nav-link py-2 px-0 px-lg-2" href="https://twitter.com/getbootstrap" target="_blank"
                            rel="noopener">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="navbar-nav-svg"
                                viewBox="0 0 512 416.32" role="img">
                                <title>Twitter</title>
                                <path fill="currentColor"
                                    d="M160.83 416.32c193.2 0 298.92-160.22 298.92-298.92 0-4.51 0-9-.2-13.52A214 214 0 0 0 512 49.38a212.93 212.93 0 0 1-60.44 16.6 105.7 105.7 0 0 0 46.3-58.19 209 209 0 0 1-66.79 25.37 105.09 105.09 0 0 0-181.73 71.91 116.12 116.12 0 0 0 2.66 24c-87.28-4.3-164.73-46.3-216.56-109.82A105.48 105.48 0 0 0 68 159.6a106.27 106.27 0 0 1-47.53-13.11v1.43a105.28 105.28 0 0 0 84.21 103.06 105.67 105.67 0 0 1-47.33 1.84 105.06 105.06 0 0 0 98.14 72.94A210.72 210.72 0 0 1 25 370.84a202.17 202.17 0 0 1-25-1.43 298.85 298.85 0 0 0 160.83 46.92">
                                </path>
                            </svg>
                            <small class="d-lg-none ms-2">Twitter</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <!-- <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to Scrolling Nav</h1>
                <p class="lead">A functional Bootstrap 5 boilerplate for one page scrolling websites</p>
                <a class="btn btn-lg btn-light" href="#about">Start scrolling!</a>
            </div>
        </header> -->
        <div class="container px-4 py-5 content-space-2 content-space-lg-3">
            <div class="row align-items-md-center">
                <div class="col-md-5 d-none d-md-block">
                    <img class="img-fluid rounded-2" src="./assets/img/polina.jpg" alt="">
                </div>
                <!-- End Col -->

                <div class="col-md-7">
                    <!-- Blockquote -->
                    <figure class="pe-md-7">
                        <!-- <div class="mb-4">
                    <img class="avatar avatar-xl avatar-4x3" src="./assets/svg/brands/mailchimp-primary.svg" alt="Image Description">
                  </div> -->

                        <h1 class="mb-4">Педагог-психолог</h1>
                        <!-- <blockquote class="blockquote blockquote-lg"> -->
                        <p>Я — Полина Никитина, педагог-психолог, магистр педагогики.
                            Автор подкаста "Мам, у меня вопрос..."
                        </p>
                        <p>Консультирую родителей по вопросам воспитания, обучения, развития детей дошкольного и
                            младшего школьного возраста.
                        </p>
                        <!-- </blockquote> -->

                        <!-- <figcaption class="blockquote-footer">
                    <div class="d-flex align-items-center">
                      <div class="flex-shrink-0 d-md-none">
                        <img class="avatar avatar-circle" src="./assets/img/160x160/img4.jpg" alt="Image Description">
                      </div>
                      <div class="flex-grow-1 ms-3 ms-md-0">
                        Lewis
                        <span class="blockquote-footer-source">Senior Director of Operations at Mailchimp</span>
                      </div>
                    </div>
                  </figcaption> -->

                    </figure>
                    <!-- End Blockquote -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>


    <div class="container px-4 py-5" id="icon-grid">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-4 py-5">
            <div class="col d-flex align-items-start">
                <img width="100px" height="100px" src="./assets/img/icon-01.svg">
                    <use xlink:href="#cpu-fill"></use>
                <div class="ps-4">
                    <h3 class="fw-bold mb-3 fs-4">Образование</h3>
                    <ul>
                        <li>Закончила Российский государственный педагогический университет им. А. И. Герцена (Институт
                            детства)</li>
                        <li>Дополнительно проходила повышение квалификации в институте практической психологии «Иматон»
                            («Психологическое сопровождение ребёнка в критические периоды развития»,
                            «Основы перинатальной психологии и психокоррекции»)</li>
                    </ul>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img width="100px" height="100px" src="./assets/img/icon-02.svg">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
                <div class="ps-4">
                    <h3 class="fw-bold mb-3 fs-4">Дипломы</h3>
                    <ul>
                        <li>Диплом с отличием Воспитатель детей дошкольного возраста 2008 год</li>
                        <li>Диплом с отличием Бакалавр педагогики (Специализация «Детская практическая психология») 2010
                            год</li>
                        <li>Диплом с отличием Магистр Педагогики (Специализация «Методическое сопровождение в дошкольном
                            образовании») 2012 год</li>
                    </ul>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img width="100px" height="100px" src="./assets/img/icon-03.svg">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
                <div class="ps-4">
                    <h3 class="fw-bold mb-3 fs-4">Опыт</h3>
                    <ul><li>С 2010 года ГБДОУ Центр развития ребёнка - детский сад № 64 Калининского р-на Санкт-Петербурга</li><li>Детский Досуговый Центр «Намастёнок»</li><li>Частная практика (Консультирование родителей)</li></ul>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img width="100px" height="100px" src="./assets/img/icon-04.svg">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
                <div class="ps-4">
                    <h3 class="fw-bold mb-3 fs-4">Автор подкаста 
                            <a href="https://t.me/mom_i_have_a_question" target="_blank" class="a-custom">«Мааам, у меня вопрос...»</a></h3>
                    <p>В 2021 году вместе со своей дочерью создала подкаст, в котором нахожу ответы на самые сложные детские вопросы, а также разбираюсь в причинах их возникновения.</p>
                </div>
            </div>
        </div>
    </div>

        <!-- Services section-->
            <section id="services" class="row gx-4 justify-content-center">
                <div class="col-lg-8">
            <!-- <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Services we offer</h2>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore,
                            expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda
                            laborum vel, labore ut velit dignissimos.</p>
                    </div>
                </div>
            </div> -->
            <h1 class="mb-4" style="text-align: center;">Какие проблемы решаю</h1>
            <div class="accordion">
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Трудности в поведение ребёнка
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        «Плохим» поведением ребенок пытается сообщить взрослым о какой-то проблеме, которая требует решения. Моя задача помочь родителям понять 
                        истинные причины возникновения у ребенка трудностей в поведении, определить вызвано ли данное поведение возрастным кризисом и дать рекомендации, 
                        которые помогут решить имеющиеся проблемы и смогут предотвратить возникновение «плохого» поведения у ребенка в будущем.
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Проблемы в обучении
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Если Ваш ребенок испытывает определенные трудности в обучении, возможно всё дело не в учителе или школьной программе, а в негативных установках с которыми ребенок сталкивается. 
                        На консультации Вы получите конкретные рекомендации, которые смогут помочь Вашему ребенку преодолеть барьеры в обучении. 
                        Интеллект и мышление детей можно направлять с помощью правильных формулировок в нужное русло.
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Тревожность ребёнка
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Тревожность у детей может быть обусловлена различными факторами и иметь разные проявления. Важно понимать, что тревожность у детей является нормальной реакцией на стрессовые ситуации или изменения в их жизни. Однако, если тревожность становится чрезмерной или мешает ребенку нормально функционировать, может потребоваться помощь и поддержка.

                            Проявления тревожности у детей могут быть разнообразными и включать следующие симптомы:

                            •	Беспокойство и нервозность
                            •	Повышенная раздражительность
                            •	Проблемы со сном, включая бессонницу или ночные кошмары
                            •	Физические симптомы, такие как головная боль, боли в животе
                            •	Отказ от питания или изменение аппетита
                            •	Повышенная чувствительность к раздражителям, таким как шум или свет
                            •	Постоянное беспокойство о своей безопасности или своих близких
                            •	Трудности с концентрацией и вниманием
                            •	Избегание ситуаций или мест, которые вызывают тревогу

                            Будьте поддерживающими и понимающими, и обратитесь за помощью, если тревожность ребенка начинает мешать его нормальному функционированию.
                            
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Проблемы в отношениях между сиблингами
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                        Сиблинги (от англ. sibling брат или сестра) - это братья и сестры, и иногда в их отношениях могут возникать различные проблемы. Сиблинги могут чувствовать ревность друг к другу, соперничать, конфликтовать. Если проблемы между сиблингами становятся серьезными и найти решение родителям самостоятельно становится сложно, то на консультации мы подробно разберём тактику поведения, которая поможет разрешить конфликты и улучшить взаимоотношения между сиблингами.
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Адаптация ребенка к детскому саду, школе
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Подскажу как наиболее эффективно помочь именно Вашему ребенку адаптироваться к детскому саду или школе. 
                            В каком возрасте лучше отдавать ребёнка в детский сад, как сделать процесс адаптации максимально мягким и комфортным для нервной системы ребенка.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Педагогическое просвещение родителей
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            В современном мире очень много информации по вопросам воспитания, обучения и развития ребёнка. 
                            Порой в интернете или на полках книжных магазинов можно найти советы противоречащие друг другу. 
                            У современных родителей нет свободного времени, чтобы ознакомиться с последними исследованиями в области педагогики и прочитать 
                            всю литературу по данной тематике. 
                            На консультации мы вместе с Вами разберем Ваши вопросы, связанные с воспитанием, обучением и развитием конкретного ребенка. 
                            При необходимости я подберу полезную литературу для Вас, развивающие игры, пособия для малыша и дам четкие, точные рекомендации, 
                            относительно Вашего запроса.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container px-4 py-5" id="icon-grid">

            <h1 class="mb-4" style="text-align: center;">Услуги и цены</h1>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-4 py-5">
                <div class="col d-flex align-items-start">
                    <div class="ps-4">
                        <div class="mb-3 fs-4 d-flex">
                            <div class="">Бесплатная online консультация (15-20 минут)</div>
                            <div class="ml-auto">0 ₽</div>
                        </div>
                        <div>
                            Бесплатная консультация подразумевает наше знакомство, обозначение запроса и определение вектора дальнейшей консультации.
                        </div>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="ps-4">
                        <h3 class="fw-bold mb-3 fs-4">
                            <div>Повторная online консультация</div>
                            <div>1000 ₽</div>
                        </h3>
                        <div>
                            На повторной консультации мы разберем, какие именно рекомендации Вам удалось применить на практике, 
                            что получилось, что не получилось, подберем новые способы решения проблемы
                        </div>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="ps-4">
                        <h3 class="fw-bold mb-3 fs-4">
                            <div>Первичная online консультация</div>
                            <div>1500 ₽</div>
                        </h3>
                        <div>
                            На первичной online консультации я дам Вам конкретные рекомендации, которые помогут в решении возникшей проблемы.  
                        </div>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="ps-4">
                        <h3 class="fw-bold mb-3 fs-4">
                            <div>Групповая консультация</div>
                            <div>3000 ₽</div>
                        </h3>
                        <div>
                            Консультация для небольшой подгруппы родителей (до 5 человек), объединённая общей тематикой/проблематикой 
                            (как помочь ребенку адаптироваться к детскому саду, как подготовить ребенка к школе, финансовое воспитание детей, 
                            особенности в воспитании мальчиков и девочек и т.п. темы).
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="justify-content-center">About this page</h2>
                    <p class="lead">This is a great place to talk about your webpage. This template is purposefully
                        unstyled so you can use it as a boilerplate or starting point for you own landing page designs!
                        This template features:</p>
                    <ul>
                        <li>Clickable nav links that smooth scroll to page sections</li>
                        <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                        <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the
                            navbar</li>
                        <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact section-->
    <section id="contact">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Contact us</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat
                        voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et
                        repudiandae ipsa exercitationem, in, quo totam.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container px-4">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>